.main{
    background-color: silver;
    margin: 30px;
}
.index{
    background-color: #f9f2f4;
    margin: 30px;
}
body{
    background-color: #c9ecff;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}
@font-face {
    font-family: "iconfont"; /* Project id 3317276 */
    src: url('//at.alicdn.com/t/font_3317276_5l8y0cr5f8l.woff2?t=1649763334572') format('woff2'),
    url('//at.alicdn.com/t/font_3317276_5l8y0cr5f8l.woff?t=1649763334572') format('woff'),
    url('//at.alicdn.com/t/font_3317276_5l8y0cr5f8l.ttf?t=1649763334572') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-gerenzhongxin:before {
    content: "\e602";
}

.icon-huo:before {
    content: "\e90b";
}

.icon-viewlist:before {
    content: "\e6b5";
}

.media-object{
    width: 46px;
    height: 46px;
}
.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #9d9d9d;
}
.page{
    margin: auto;
}
.section{
    margin-top: 30px;
}
.profile{

}