.main{
    background-color: silver;
    margin: 30px;
}
.index{
    background-color: #f9f2f4;
    margin: 30px;
}
body{
    background-color: #c9ecff;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}
.media-object{
    width: 46px;
    height: 46px;
}
.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #9d9d9d;
}
.page{
    margin: auto;
}
.section{
    margin-top: 30px;
}
.profile{

}
.community-menu{
    color: #999999;
    font-size: 13px;
}
.jumbotron{
    margin: 50px;
}
.media-body{
    padding-top: 10px;
}
.comment{
    margin: 10px 0;
}
.btn-comment{
    float: right;
    margin-bottom: 10px;
}
.comment-sp{
    margin-top: 0;
}
.comment-div{
    margin-bottom: 15px;
}
.icon-size{
    margin-right: 10px;
    font-size: 16px;
    cursor: pointer;
}
.icon-size:hover{
    color: lightskyblue;
}
.active{
    color: lightskyblue;
}
.menu{
    margin-top: 5px;
    color: #999999;
}
.huifu{
    margin-top: 15px;
}
.comments{
    margin-bottom: 15px;
    border-bottom: 1px solid #8c8c8c;
}
.sub-comments{
    border-radius: 5px;
    margin-top: 10px;
    border: 1px #494746;
    padding-top: 15px;
    margin-bottom: 15px;
}
.sub-comments .btn {
    margin: 15px 0;
}

.zz{
    font-size: 25px;
    color: darkviolet;
}
.zz2{
    font-size: 25px;
    color: #31b0d5;
}
.question-title{
    margin-top: 25px;
}
/*                                         */
/*            图标                          */
/*                                         */
@font-face {
    font-family: "iconfont"; /* Project id 3317276 */
    src: url('//at.alicdn.com/t/font_3317276_jj0x9z1pflh.woff2?t=1651063171533') format('woff2'),
    url('//at.alicdn.com/t/font_3317276_jj0x9z1pflh.woff?t=1651063171533') format('woff'),
    url('//at.alicdn.com/t/font_3317276_jj0x9z1pflh.ttf?t=1651063171533') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-cuowutishitubiao:before {
    content: "\e6a0";
}

.icon-zhuce:before {
    content: "\e6d6";
}

.icon-denglu:before {
    content: "\e60e";
}

.icon-github:before {
    content: "\e972";
}

.icon-15:before {
    content: "\e60d";
}

.icon-line-replyhuifu:before {
    content: "\e6b6";
}

.icon-huifu1:before {
    content: "\e603";
}

.icon-icon:before {
    content: "\e651";
}

.icon-pinglun:before {
    content: "\e632";
}

.icon-bianji_:before {
    content: "\e68e";
}

.icon-changjianwentixiangguanwenti2:before {
    content: "\e679";
}

.icon-huifu:before {
    content: "\e64d";
}

.icon-sponsor:before {
    content: "\e6e5";
}

.icon-wenti:before {
    content: "\e80c";
}

.icon-gerenzhongxin:before {
    content: "\e602";
}

.icon-huo:before {
    content: "\e90b";
}

.icon-viewlist:before {
    content: "\e6b5";
}




