<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HELLO交流社区</title>
    <div th:include="common :: commonheader"></div>
    <link rel="stylesheet" th:href="@{/css/community.css}"/>
</head>
<script type="application/javascript">
    window.onload = function (){
        var item = window.localStorage.getItem("closeable");
        if (item == "true"){
            window.close();
            window.localStorage.removeItem("closeable");
        }
    }
    </script>
<body>
<nav class="navbar navbar-default">
    <div th:replace="common :: headermenu"></div>
</nav>
<div class="container-fluid index">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="iconfont icon-viewlist" aria-hidden="true"></span>发现</h2>
            <hr  width="80%" color=#987cb9 SIZE=3>
            <div class="media" th:if="${questions.size() == 0}">
                <h3 style="font-family: serif;margin-left: 125px;color: #9a9aeb;font-weight: bold;">
                抱歉,未找到相关问题!</h3>
                <img alt="" th:src="@{/images/searchfail.png}"
                     style="margin-left: 120px; ">
                <p><a class="btn btn-success btn-lg" th:href="@{/}" role="button"
                      style="margin-left: 120px;">|返回主页|</a></p>
            </div>
            <div class="media" th:each="question : ${questions}">
                <div class="media-left" >
                    <a href="#">
                        <img class="media-object img-thumbnail"
                             th:src="@{${question.user.avatarUrl}}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" >
                        <a th:href="@{'/question/'+${question.id}}" th:text="${question.title}"></a>
                    </h4>
                    <span th:text="${question.description}" th:if="${question.description.length()<100}"></span>
                    <span th:text="${question.description.substring(0,100)+'...'}" th:if="${question.description.length()>100}"></span><br>
                    <span class="text-desc">
                        <span th:text="${question.commentCount}"></span>条回复 |
                        <span th:text="${question.viewCount}"></span>次浏览 |
                        <span th:text="${#dates.format(question.getGmtCreate(),'yyyy-MM-dd HH:mm')}"></span>
                    </span>
                </div>
            </div>
            <nav aria-label="Page navigation" >
                <ul class="pagination">
                    <li>
                        <a th:href="@{/(page=1)}" th:if="${pn.current > 1}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/(page=${pn.current}-1)}" th:if="${pn.current > 1}" aria-label="Previous">
                            <span aria-hidden="true"><</span>
                        </a>
                    </li>
                    <li th:if="${pn.getPages()<= 5}" th:class="${i == pn.current?'active':''}" th:each="i:${#numbers.sequence(1,pn.pages)}">
                        <a th:href="@{/(page=${i})}" th:if="${i > 0}">[[${i}]]</a>
                    </li>

                    <li th:if="${pn.getPages()> 5 && (pn.getPages() - pn.current) <= 2}" th:class="${i == pn.current?'active':''}" th:each="i :${#numbers.sequence(pn.getPages() - 4, pn.getPages())}" >
                        <a th:href="@{/(page=${i})}" th:class="${pn.current == i}? 'active' :' ' ">[[${i}]]</a>
                    </li>

                    <li  th:if="${pn.getPages()> 5 && (pn.current - 1) <= 2}" th:class="${i == pn.current?'active':''}" th:each="i :${#numbers.sequence(1, 5)}">
                        <a th:href="@{/(page=${i})}" th:class="${pn.current == i}? 'active' :' ' ">[[${i}]]</a>
                    </li>

                    <li  th:if="${pn.getPages()> 5 && ((pn.current - 1) > 2)&& (pn.getPages() - pn.current) > 2}" th:class="${i == pn.current?'active':''}" th:each="i :${#numbers.sequence(pn.current - 2, pn.current + 2)}" >
                        <a th:href="@{/(page=${i})}"  th:class="${pn.current == i}? 'active' :' ' ">[[${i}]]</a>
                    </li>
                    <li>
                        <a th:href="@{/(page=${pn.current}+1)}" th:if="${pn.current < pn.pages}" aria-label="Next">
                            <span aria-hidden="true">></span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/(page=${pn.pages})}" th:if="${pn.current < pn.pages}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3><span class="iconfont icon-huo" aria-hidden="true" style="color: red;">
            </span>热门话题</h3>
            <hr style="
            size: inherit;
            border-top: 2px solid #ee9d29;
            ">
            <ul style="border: #e8e8e8;border-style: groove;border-radius: 8px;border-block-width: inherit;">
                <li th:each="related:${hotQuestions}" style="margin-top: 16px;margin-bottom: 16px;">
                    <a  th:href="@{'/question/'+${related.id}}" th:text="${related.title}"
                        style="font-size: large;color: #e35809;"></a>
                </li>
            </ul>
            <hr style="border:double #777777;" >
            <h4 style="margin-top: -15px"><span class="iconfont icon-kaifa" aria-hidden="true" style="font-size: 29px;color: #626767;"></span>站长联系方式</h4>
            <img th:src="@{/images/mmqrcode1652533109107.png}" style="width: 150px;margin-left: 80px;">
            <h5 style="margin-top: 30px;">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true" style="color: #23bbe8;font-size: 20px;"></span>
                <span style="font-weight: bold;">站长邮箱:hellocrow1327@163.com</span>
            </h5>
        </div>
    </div>
</div>
<div th:insert="common :: foot"></div>
</body>
</html>