<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册</title>
    <div th:include="common :: commonheader"></div>
    <link rel="stylesheet" th:href="@{/css/community.css}"/>
    <link rel="stylesheet" th:href="@{/css/iconfont.css}">
    <link rel="stylesheet" th:href="@{/css/sign.css}">
</head>
<body>
    <nav class="navbar navbar-default headm">
        <div  th:replace="common :: headermenu1" ></div>
    </nav>
    <div class="login-box">
        <h1><span class="iconfont icon-zhuce" aria-hidden="true" style="font-size: inherit;"></span>
            注册
        </h1>
        <form method="post" th:action="@{/create}" class="input-box" >
            <span class="iconfont icon-cuowutishitubiao" th:if="${msg!=null}" aria-hidden="true" style="margin-top: 15px;font-size: 20px;color: bisque;margin-right: 6px;"></span>
            <label th:text="${msg}"
                   style="color: red;font-family: monospace;background: darkred;margin-top: 15px;">
            </label>
            <div class="input-text">
                <span class='iconfont icon-mine'></span>
                <input type="text" name="name" placeholder="用户名" th:value="${name}" autocomplete="off">
            </div>
            <div class="input-text">
                <span class='iconfont icon-lock'></span>
                <input type="password" name="password" placeholder="密码" th:value="${password}">
            </div>
            <div class="input-text">
                <span class='iconfont icon-lock'></span>
                <input type="password" name="checkPassword" placeholder="重复密码" th:value="${check}">
            </div>
            <button class="input-btn" type="submit">注册</button>
        </form>
    </div>
    <div th:insert="common :: foot"></div>
</body>
</html>