<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hello.community.mapper.CommentMapper">

    <resultMap id="BaseResultMap" type="com.hello.community.bean.Comment">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
            <result property="type" column="type" jdbcType="INTEGER"/>
            <result property="commentator" column="commentator" jdbcType="INTEGER"/>
            <result property="gmtCreate" column="gmt_create" jdbcType="BIGINT"/>
            <result property="gmtModified" column="gmt_modified" jdbcType="BIGINT"/>
            <result property="likeCount" column="like_count" jdbcType="BIGINT"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,parent_id,type,
        commentator,gmt_create,gmt_modified,
        like_count,content
    </sql>
    <update id="updateCommentCountById">
        update comment
        set comment_count = comment_count + #{commentCount,jdbcType=NUMERIC}
        where id = #{id,jdbcType=NUMERIC}
    </update>
    <select id="selectList" resultType="com.hello.community.bean.Comment">
        select * from comment ${ew.customSqlSegment}
    </select>

</mapper>
