<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hello.community.mapper.QuestionMapper">

    <resultMap id="BaseResultMap" type="com.hello.community.bean.Question">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="gmtCreate" column="gmt_create" jdbcType="BIGINT"/>
            <result property="gmtModifie" column="gmt_modifie" jdbcType="BIGINT"/>
            <result property="creator" column="creator" jdbcType="INTEGER"/>
            <result property="commentCount" column="comment_count" jdbcType="INTEGER"/>
            <result property="viewCount" column="view_count" jdbcType="INTEGER"/>
            <result property="likeCount" column="like_count" jdbcType="INTEGER"/>
            <result property="tag" column="tag" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,description,
        gmt_create,gmt_modifie,creator,
        comment_count,view_count,like_count,
        tag
    </sql>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from question
    </select>
    <select id="selectByCreator" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from question
        where
        creator = #{creator,jdbcType=NUMERIC} order by gmt_create desc
    </select>
    <update id="updateById">
        update question
        set title=#{title},description=#{description},gmt_modifie=#{gmtModifie},tag=#{tag}
        where
                id = #{id,jdbcType=NUMERIC}
    </update>
    <update id="updateViewCount">
        update question
        set view_count = #{viewCount,jdbcType=NUMERIC}
    </update>
    <update id="updateViewCountById">
        update question
        set view_count = view_count+#{viewCount,jdbcType=NUMERIC}
        where id = #{id,jdbcType=NUMERIC}
    </update>
    <update id="updateCommentCountById">
        update question
        set comment_count = comment_count + #{commentCount,jdbcType=NUMERIC}
        where id = #{id,jdbcType=NUMERIC}
    </update>
    <update id="updateLikeCountById">
        update question
        set like_count = like_count + #{likeCount,jdbcType=NUMERIC}
        where id = #{id,jdbcType=NUMERIC}
    </update>
    <select id="selectByTag" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from question
        where id !=#{id} and tag regexp #{tag}
    </select>

</mapper>
